In [1]:
import numpy as np
import pandas as pd
import polars as pl
import sys
import re
import os
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import plotly.express as px


pd.set_option('display.max_columns',None)
import psycopg2


#to scale the data using z-score 
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

#Algorithms to use
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

#Metrics to evaluate the model
from sklearn.metrics import confusion_matrix, classification_report, precision_recall_curve

import warnings
warnings.filterwarnings("ignore")

#importing PCA and TSNE
from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

In [23]:
x = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/Diabetes_Lit_final_Positions_hg38_hg37 (1).xlsx')
#x['Allele change'].fillna(x['Amino acid change'], inplace=True)
#x['Allele change'].fillna(x['Rsid'], inplace=True)
x['chrom'] = x['Chrom-pos-Ref-Alt_38'].str.split(',')
x = x.explode('chrom')

x['CHROM'] = x['chrom'].str.split('-').str[0]

# Function to add 'chr' prefix conditionally
def add_chr_prefix(chrom):
    if pd.notnull(chrom) and chrom.strip() != '':
        return 'chr' + str(chrom)
    else:
        return chrom

# Applying the function to the 'chromosome' column
x['CHROM'] = x['CHROM'].apply(add_chr_prefix)
x['CHROM'] = x['CHROM'].str.strip()
x['CHROM'] = x['CHROM'].str.replace(r'\s+', '')
x['POS'] = x['chrom'].str.split('-').str[1]
x['REF'] = x['chrom'].str.split('-').str[2]
x['ALT'] = x['chrom'].str.split('-').str[3]

x.dropna(subset=['CHROM'], inplace=True)
# Drop rows with empty cells after removing leading and trailing whitespaces
x['CHROM'] = x['CHROM'].str.strip()
x['POS'] = x['POS'].str.strip()
x['REF'] = x['REF'].str.strip()
x['ALT'] = x['ALT'].str.strip()

# Dropping rows with empty cells and NaN values in both 'chromosome' and 'position' columns
x.dropna(subset=['CHROM', 'POS'], inplace=True)
df_3 = x[['Gene', 'Change', 'CHROM', 'POS', 'REF', 'ALT']]
df_3['Literature'] = 'Yes'
df_3.drop_duplicates(subset='POS', inplace=True)
df_3['POS'] = df_3['POS'].astype('int64')
df_3 = df_3.reset_index()
df_3 = df_3[['Gene', 'Change', 'CHROM', 'POS', 'REF', 'ALT', 'Literature']]

df = pd.read_csv(r'C:/Users/GenepoweRx_Madhu/Downloads/KAPA HyperExome_hg38_capture_targets (1).bed', sep = '\t', header = None)
df.columns = ['chromosome', 'Start_pos', 'End_pos', 'INFO']

df['Extended_Start_pos'] = df['Start_pos'] - 20
df['Extended_End_pos'] = df['End_pos'] + 20

df['gene_symbol'] = df['INFO'].str.extract(r'gene_symbol=([^;]+)')
df = df[['chromosome', 'Extended_Start_pos', 'Extended_End_pos', 'INFO', 'gene_symbol']]


# Step 1: Create a dictionary from the df DataFrame
chromosome_dict = {}
for _, row in df.iterrows():
    chromosome = row['chromosome']
    start_pos = row['Extended_Start_pos']
    end_pos = row['Extended_End_pos']
    if chromosome not in chromosome_dict:
        chromosome_dict[chromosome] = []
    chromosome_dict[chromosome].append((start_pos, end_pos))

# Step 2: Define a function to check coverage
def check_coverage(row):
    pos = row['POS']
    chromosome = row['CHROM']
    if chromosome in chromosome_dict:
        ranges = chromosome_dict[chromosome]
        for start, end in ranges:
            if start <= pos <= end:
                return 'Covered'
    return 'Not_Covered'

# Step 3: Apply the function to create the new column in dataset2
df_3['Covered/Not_Covered'] = df_3.apply(check_coverage, axis=1)

df_3 = df_3[df_3['Covered/Not_Covered'] == 'Covered']
df_3

       Gene      Change  CHROM       POS Literature Covered/Not_Covered
0     ABCC8   c.2912A>T  chr11  17407365        Yes             Covered
1     ABCC8   c.2912A>T  chr11  17407362        Yes             Covered
2     ABCC8   c.2912A>T  chr11  17407435        Yes             Covered
3     ABCC8   c.2912A>T  chr11  17393732        Yes             Covered
4     ABCC8   c.2912A>T  chr11  17407067        Yes             Covered
...     ...         ...    ...       ...        ...                 ...
2982   UCP2    rs660339  chr11  73978059        Yes             Covered
2983    WRN   c.3222G>T   chr8  31141764        Yes             Covered
2984   WSF1  rs10010131   chr4   6291188        Yes             Covered
2985   WSF1    rs734312   chr4   6301627        Yes             Covered
2986   WSF1   rs6446482   chr4   6293966        Yes             Covered

[2347 rows x 6 columns]

In [35]:
x = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/Diabetes_Lit_final_Positions_hg38_hg37 (1).xlsx')
#x['Allele change'].fillna(x['Amino acid change'], inplace=True)
#x['Allele change'].fillna(x['Rsid'], inplace=True)
x['chrom'] = x['Chrom-pos-Ref-Alt_38'].str.split(',')
x = x.explode('chrom')

x['CHROM'] = x['chrom'].str.split('-').str[0]

# Function to add 'chr' prefix conditionally
def add_chr_prefix(chrom):
    if pd.notnull(chrom) and chrom.strip() != '':
        return 'chr' + str(chrom)
    else:
        return chrom

# Applying the function to the 'chromosome' column
x['CHROM'] = x['CHROM'].apply(add_chr_prefix)
x['CHROM'] = x['CHROM'].str.strip()
x['CHROM'] = x['CHROM'].str.replace(r'\s+', '')
x['POS'] = x['chrom'].str.split('-').str[1]
x['REF'] = x['chrom'].str.split('-').str[2]
x['ALT'] = x['chrom'].str.split('-').str[3]

x.dropna(subset=['CHROM'], inplace=True)
# Drop rows with empty cells after removing leading and trailing whitespaces
x['CHROM'] = x['CHROM'].str.strip()
x['POS'] = x['POS'].str.strip()
x['REF'] = x['REF'].str.strip()
x['ALT'] = x['ALT'].str.strip()

# Dropping rows with empty cells and NaN values in both 'chromosome' and 'position' columns
x.dropna(subset=['CHROM', 'POS'], inplace=True)
df_3 = x[['Gene', 'Change', 'CHROM', 'POS', 'REF', 'ALT']]
df_3['Literature'] = 'Yes'
df_3.drop_duplicates(subset='POS', inplace=True)
df_3['POS'] = df_3['POS'].astype('int64')
df_3 = df_3.reset_index()
df_3 = df_3[['Gene', 'Change', 'CHROM', 'POS', 'REF', 'ALT', 'Literature']]

df = pd.read_csv(r'C:/Users/GenepoweRx_Madhu/Downloads/KAPA HyperExome_hg38_capture_targets (1).bed', sep = '\t', header = None)
df.columns = ['chromosome', 'Start_pos', 'End_pos', 'INFO']

df['Extended_Start_pos'] = df['Start_pos'] - 20
df['Extended_End_pos'] = df['End_pos'] + 20

df['gene_symbol'] = df['INFO'].str.extract(r'gene_symbol=([^;]+)')
df = df[['chromosome', 'Extended_Start_pos', 'Extended_End_pos', 'INFO', 'gene_symbol']]


# Step 1: Create a dictionary from the df DataFrame
chromosome_dict = {}
for _, row in df.iterrows():
    chromosome = row['chromosome']
    start_pos = row['Extended_Start_pos']
    end_pos = row['Extended_End_pos']
    if chromosome not in chromosome_dict:
        chromosome_dict[chromosome] = []
    chromosome_dict[chromosome].append((start_pos, end_pos))

# Step 2: Define a function to check coverage
def check_coverage(row):
    pos = row['POS']
    chromosome = row['CHROM']
    if chromosome in chromosome_dict:
        ranges = chromosome_dict[chromosome]
        for start, end in ranges:
            if start <= pos <= end:
                return 'Covered'
    return 'Not_Covered'

# Step 3: Apply the function to create the new column in dataset2
df_3['Covered/Not_Covered'] = df_3.apply(check_coverage, axis=1)

df_3 = df_3[df_3['Covered/Not_Covered'] == 'Covered']
df_3

,Gene,Change,CHROM,POS,REF,ALT,Literature,Covered/Not_Covered
0,ABCC8,c.2912A>T,chr11,17407365,T,A,Yes,Covered
1,ABCC8,c.2912A>T,chr11,17407362,T,A,Yes,Covered
2,ABCC8,c.2912A>T,chr11,17407435,T,A,Yes,Covered
3,ABCC8,c.2912A>T,chr11,17393732,T,A,Yes,Covered
4,ABCC8,c.2912A>T,chr11,17407067,T,A,Yes,Covered
...,...,...,...,...,...,...,...,...
3314,GCK,IVS3±2A>G,chr7,44188953,T,C,Yes,Covered
3315,GCK,IVS3±2A>G,chr7,44146126,T,C,Yes,Covered
3316,GCK,IVS3±2A>G,chr7,44159120,T,C,Yes,Covered
3317,GCK,c.46-15_46-11delnsGGGAGGG,chr7,44189404,CCGCTC,C,Yes,Covered
3318,GCK,p.His156fs,chr7,44150971,GTG,TTA,Yes,Covered

In [14]:
df_3.to_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/Diab_lit.xlsx', index=False)

In [27]:
#df_3 = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/All_Diabetic_care_pmid.xlsx')
#df_3

        Gene          Change            PMID
0      CTLA4        c.159C>G  PMID: 11522687
1      CTLA4         c.49A>G  PMID: 11522687
2        INS           rs689  PMID: 30456822
3        INS        c.89T>G   PMID: 34763692
4        INS        c.125T>C  PMID: 34763692
...      ...             ...             ...
1499     AVP        c. 62A>C  PMID: 28008190
1500     AVP  c. 64_66delTTC  PMID: 28008190
1501     AVP        c. 77C>T  PMID: 28008190
1502     AVP      p. Arg51fs  PMID: 28008190
1503  PRKAG2       rs7805747  PMID: 36271454

[1504 rows x 3 columns]

In [37]:
df = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/All_Diabetic_care_pmid.xlsx')
df

        Gene         Change           PMID
0      CTLA4       c.159C>G  PMID:11522687
1      CTLA4        c.49A>G  PMID:11522687
2        INS          rs689  PMID:30456822
3        INS        c.89T>G  PMID:34763692
4        INS       c.125T>C  PMID:34763692
...      ...            ...            ...
1499     AVP        c.62A>C  PMID:28008190
1500     AVP  c.64_66delTTC  PMID:28008190
1501     AVP        c.77C>T  PMID:28008190
1502     AVP      p.Arg51fs  PMID:28008190
1503  PRKAG2      rs7805747  PMID:36271454

[1504 rows x 3 columns]

In [38]:
merged_df = pd.merge(df_3, df, on = ['Gene', 'Change'], how= 'left', sort=False)
merged_df

,Gene,Change,CHROM,POS,REF,ALT,Literature,Covered/Not_Covered,PMID
0,ABCC8,c.2912A>T,chr11,17407365,T,A,Yes,Covered,PMID:34763692
1,ABCC8,c.2912A>T,chr11,17407362,T,A,Yes,Covered,PMID:34763692
2,ABCC8,c.2912A>T,chr11,17407435,T,A,Yes,Covered,PMID:34763692
3,ABCC8,c.2912A>T,chr11,17393732,T,A,Yes,Covered,PMID:34763692
4,ABCC8,c.2912A>T,chr11,17407067,T,A,Yes,Covered,PMID:34763692
...,...,...,...,...,...,...,...,...,...
2666,GCK,IVS3±2A>G,chr7,44188953,T,C,Yes,Covered,NaN
2667,GCK,IVS3±2A>G,chr7,44146126,T,C,Yes,Covered,NaN
2668,GCK,IVS3±2A>G,chr7,44159120,T,C,Yes,Covered,NaN
2669,GCK,c.46-15_46-11delnsGGGAGGG,chr7,44189404,CCGCTC,C,Yes,Covered,PMID:34763692
2670,GCK,p.His156fs,chr7,44150971,GTG,TTA,Yes,Covered,PMID:34763692

In [31]:
merged_df.to_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/All_diabetic_litvariants_pubmid.xlsx', index=False)

In [32]:
aigprx = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/1128 patients data mapping (1).xlsx')
aigprx

,Barcode,Name,Age,Gender,Physician Name,Chronic medical conditions,Generic name
0,KHAIGPRX1,P. Lakshmi Naidu,49,M,Dr. Dasari Anusha,BP,Metformin
1,KHAIGPRX1,P. Lakshmi Naidu,49,M,Dr. Dasari Anusha,Diabetes,Rosuvastatin and Aspirin
2,KHAIGPRX2,Muralidhar Reddy,64,M,Dr. Dasari Anusha,Diabetes,Teneligliptin
3,KHAIGPRX2,Muralidhar Reddy,64,M,Dr. Dasari Anusha,High BP,Telmisartan
4,KHAIGPRX2,Muralidhar Reddy,64,M,Dr. Dasari Anusha,NaN,Atorvastatin
...,...,...,...,...,...,...,...
5742,KHAIGPRX1132,KE Shrinu Pilei,32,M,Dr. Nithin Reddy,T3 CDM,Rosuvastatin and Fenofibrate
5743,KHAIGPRX1132,KE Shrinu Pilei,32,M,Dr. Nithin Reddy,NaN,pantoprazole
5744,KHAIGPRX1132,KE Shrinu Pilei,32,M,Dr. Nithin Reddy,NaN,Pancreatin
5745,KHAIGPRX1132,KE Shrinu Pilei,32,M,Dr. Nithin Reddy,NaN,Tapentadol
5746,KHAIGPRX1132,KE Shrinu Pilei,32,M,Dr. Nithin Reddy,NaN,Nortriptyline and Methylcobalamin

In [33]:
grouped_data = aigprx.groupby(['Barcode']).agg({'Chronic medical conditions': lambda x: ','.join(str(i) for i in x.unique()),
                                                'Generic name': lambda x: ','.join(str(i) for i in x.unique())}).reset_index()
grouped_data

,Barcode,Chronic medical conditions,Generic name
0,KHAIGPRX1,"BP , Diabetes","Metformin , Rosuvastatin and Aspirin"
1,KHAIGPRX10,"Diabetes , Hypertension , Thyroid,nan","Tri-iodothyronine (T3) and Thyroxine (T4) , R..."
2,KHAIGPRX1000,"DM, HTN, Thyroid,nan","telmisartan, Atorvastatin and Clopidogrel, le..."
3,KHAIGPRX1001,"HTN, DM, Blood Cancer","Dapagliflozin and Vildagliptin, Glimepiride a..."
4,KHAIGPRX1002,"DM, HTN, pacemaker ,nan","famotidine, Carvedilol, valsartan, Silodosin ..."
...,...,...,...
1121,KHAIGPRX995,"Obesity, COPD, Brain clot, Cellulitis","furosemide, Pantoprazole, Modafinil,nan"
1122,KHAIGPRX996,"DM, HTN, Hypothyroidism, Obesity,nan","acetaminophen, Glimepiride and Metformin, Sit..."
1123,KHAIGPRX997,"HTN, DM, 2 stents in heart,nan","Aspirin, Rosuvastatin and Clopidogrel, pantop..."
1124,KHAIGPRX998,"CAD+- Congenital(AVR, Stent) , DM, HTN,nan","metoprolol, Fenofibrate and Rosuvastatin, Ato..."
1125,KHAIGPRX999,"DM , HTN , CAD+ , Dyslipidemia,nan","Telmisartan - Amlodipine , Clopidogrel- Aspir..."

In [34]:
grouped_data.to_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/1126_aigprx_condition_meditication.xlsx', index=False)

In [55]:
df_chrom = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/CHROM_RSID_data.xlsx')
df_chrom

,Gene,Chrom-pos-Ref-Alt_38,rsID
0,ABCC8,"11-17407365-T-A, 11-17407362-T-A, 11-17407435-...",rs1431503235
1,ABCC8,"11-17407028-C-T, 11-17407138-C-T, 11-17407060-...","rs759164351, rs757171524, rs1213863051"
2,ABCC8,"11-17395214-C-T, 11-17394331-C-T, 11-17396955-...",rs72559717
3,ABCC8,"11-17413396-G-A, 11-17408487-T-A, 11-17397156-...",rs779736828
4,ALDOB,"9-101430774-AC-A, 9-101426592-TC-T, 9-10143085...",rs1057516534
...,...,...,...
1423,NEUROD1,"2-181673495-A-G, 2-181678410-A-G, nan",rs757538700
1424,ABCC8,"11-17407365-T-A, 11-17407362-T-A, 11-17407435-...",rs1431503235
1425,ABCC8,"11-17407028-C-T, 11-17407138-C-T, 11-17407060-...","rs759164351, rs757171524, rs1213863051"
1426,ABCC8,"11-17395214-C-T, 11-17394331-C-T, 11-17396955-...",rs72559717
1427,ABCC8,"11-17413396-G-A, 11-17408487-T-A, 11-17397156-...",rs779736828

In [56]:
df_chrom['Chrom-pos-Ref-Alt_38'] = df_chrom['Chrom-pos-Ref-Alt_38'].str.split(',')
df_chrom = df_chrom.explode('Chrom-pos-Ref-Alt_38')
df_chrom

       Gene Chrom-pos-Ref-Alt_38          rsID
0     ABCC8      11-17407365-T-A  rs1431503235
0     ABCC8      11-17407362-T-A  rs1431503235
0     ABCC8      11-17407435-T-A  rs1431503235
0     ABCC8      11-17393732-T-A  rs1431503235
0     ABCC8      11-17407067-T-A  rs1431503235
...     ...                  ...           ...
1426  ABCC8                  nan    rs72559717
1427  ABCC8      11-17413396-G-A   rs779736828
1427  ABCC8      11-17408487-T-A   rs779736828
1427  ABCC8      11-17397156-T-A   rs779736828
1427  ABCC8                  nan   rs779736828

[4970 rows x 3 columns]

In [58]:
df_chrom.to_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/chrom_rsid.xlsx', index=False)

In [59]:
df_chrom = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/chrom_rsid.xlsx')
df_chrom

       Gene Chrom-pos-Ref-Alt_38          rsID
0     ABCC8      11-17407365-T-A  rs1431503235
1     ABCC8      11-17407362-T-A  rs1431503235
2     ABCC8      11-17407435-T-A  rs1431503235
3     ABCC8      11-17393732-T-A  rs1431503235
4     ABCC8      11-17407067-T-A  rs1431503235
...     ...                  ...           ...
4965  ABCC8                  NaN    rs72559717
4966  ABCC8      11-17413396-G-A   rs779736828
4967  ABCC8      11-17408487-T-A   rs779736828
4968  ABCC8      11-17397156-T-A   rs779736828
4969  ABCC8                  NaN   rs779736828

[4970 rows x 3 columns]

In [64]:
df_chrom.drop_duplicates(subset=['Gene', 'Chrom-pos-Ref-Alt_38', 'rsID'], inplace=True)
df_chrom.replace('nan', pd.NA, inplace=True)
df_chrom.dropna(inplace=True)
df_chrom

       Gene Chrom-pos-Ref-Alt_38          rsID
0     ABCC8      11-17407365-T-A  rs1431503235
1     ABCC8      11-17407362-T-A  rs1431503235
2     ABCC8      11-17407435-T-A  rs1431503235
3     ABCC8      11-17393732-T-A  rs1431503235
4     ABCC8      11-17407067-T-A  rs1431503235
...     ...                  ...           ...
3917  HNF1A     12-120997706-A-G  rs1593046399
3918  HNF1A     12-120997533-A-G  rs1593046399
4814    GCK       7-44145564-T-A  rs985667823,
4815    GCK       7-44145564-T-G  rs985667823,
4816    GCK       7-44145576-G-T  rs985667823,

[1870 rows x 3 columns]

In [42]:
diab_data = pd.read_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/All_diabetic_litvariants_pubmid.xlsx')
diab_data

,Gene,Change,CHROM,POS,REF,ALT,Literature,Covered/Not_Covered,PMID,Chrom-pos-Ref-Alt_38
0,ABCC8,c.2912A>T,chr11,17407365,T,A,Yes,Covered,PMID: 34763692,11-17407365-T-A
1,ABCC8,c.2912A>T,chr11,17407362,T,A,Yes,Covered,PMID: 34763692,11-17407362-T-A
2,ABCC8,c.2912A>T,chr11,17407435,T,A,Yes,Covered,PMID: 34763692,11-17407435-T-A
3,ABCC8,c.2912A>T,chr11,17393732,T,A,Yes,Covered,PMID: 34763692,11-17393732-T-A
4,ABCC8,c.2912A>T,chr11,17407067,T,A,Yes,Covered,PMID: 34763692,11-17407067-T-A
...,...,...,...,...,...,...,...,...,...,...
2379,WFS1,c.2338G4C,chr4,6302133,G,C,Yes,Covered,PMID: 12955714,4-6302133-G-C
2380,WFS1,c.2378G4C,chr4,6302173,G,C,Yes,Covered,PMID: 12955714,4-6302173-G-C
2381,WFS1,c.2378G4C,chr4,6302196,G,C,Yes,Covered,PMID: 12955714,4-6302196-G-C
2382,WFS1,c.2378G4C,chr4,6301988,G,C,Yes,Covered,PMID: 12955714,4-6301988-G-C
2383,WRN,c.3222G>T,chr8,31141764,G,T,Yes,Covered,PMID: 31270292,8-31141764-G-T

In [65]:
merged_data = pd.merge(diab_data, df_chrom, on = ['Chrom-pos-Ref-Alt_38'], how = 'left', sort=False)
merged_data

,Gene_x,Change,CHROM,POS,REF,ALT,Literature,Covered/Not_Covered,PMID,Chrom-pos-Ref-Alt_38,Gene_y,rsID
0,ABCC8,c.2912A>T,chr11,17407365,T,A,Yes,Covered,PMID: 34763692,11-17407365-T-A,ABCC8,rs1431503235
1,ABCC8,c.2912A>T,chr11,17407362,T,A,Yes,Covered,PMID: 34763692,11-17407362-T-A,ABCC8,rs1431503235
2,ABCC8,c.2912A>T,chr11,17407435,T,A,Yes,Covered,PMID: 34763692,11-17407435-T-A,ABCC8,rs1431503235
3,ABCC8,c.2912A>T,chr11,17393732,T,A,Yes,Covered,PMID: 34763692,11-17393732-T-A,ABCC8,rs1431503235
4,ABCC8,c.2912A>T,chr11,17407067,T,A,Yes,Covered,PMID: 34763692,11-17407067-T-A,ABCC8,rs1431503235
...,...,...,...,...,...,...,...,...,...,...,...,...
2443,WFS1,c.2338G4C,chr4,6302133,G,C,Yes,Covered,PMID: 12955714,4-6302133-G-C,NaN,NaN
2444,WFS1,c.2378G4C,chr4,6302173,G,C,Yes,Covered,PMID: 12955714,4-6302173-G-C,WFS1,rs1180632907
2445,WFS1,c.2378G4C,chr4,6302196,G,C,Yes,Covered,PMID: 12955714,4-6302196-G-C,WFS1,rs1180632907
2446,WFS1,c.2378G4C,chr4,6301988,G,C,Yes,Covered,PMID: 12955714,4-6301988-G-C,WFS1,rs1180632907
2447,WRN,c.3222G>T,chr8,31141764,G,T,Yes,Covered,PMID: 31270292,8-31141764-G-T,WRN,rs1801195

In [66]:
merged_data.drop_duplicates(inplace=True)
merged_data

,Gene_x,Change,CHROM,POS,REF,ALT,Literature,Covered/Not_Covered,PMID,Chrom-pos-Ref-Alt_38,Gene_y,rsID
0,ABCC8,c.2912A>T,chr11,17407365,T,A,Yes,Covered,PMID: 34763692,11-17407365-T-A,ABCC8,rs1431503235
1,ABCC8,c.2912A>T,chr11,17407362,T,A,Yes,Covered,PMID: 34763692,11-17407362-T-A,ABCC8,rs1431503235
2,ABCC8,c.2912A>T,chr11,17407435,T,A,Yes,Covered,PMID: 34763692,11-17407435-T-A,ABCC8,rs1431503235
3,ABCC8,c.2912A>T,chr11,17393732,T,A,Yes,Covered,PMID: 34763692,11-17393732-T-A,ABCC8,rs1431503235
4,ABCC8,c.2912A>T,chr11,17407067,T,A,Yes,Covered,PMID: 34763692,11-17407067-T-A,ABCC8,rs1431503235
...,...,...,...,...,...,...,...,...,...,...,...,...
2443,WFS1,c.2338G4C,chr4,6302133,G,C,Yes,Covered,PMID: 12955714,4-6302133-G-C,NaN,NaN
2444,WFS1,c.2378G4C,chr4,6302173,G,C,Yes,Covered,PMID: 12955714,4-6302173-G-C,WFS1,rs1180632907
2445,WFS1,c.2378G4C,chr4,6302196,G,C,Yes,Covered,PMID: 12955714,4-6302196-G-C,WFS1,rs1180632907
2446,WFS1,c.2378G4C,chr4,6301988,G,C,Yes,Covered,PMID: 12955714,4-6301988-G-C,WFS1,rs1180632907
2447,WRN,c.3222G>T,chr8,31141764,G,T,Yes,Covered,PMID: 31270292,8-31141764-G-T,WRN,rs1801195

In [67]:
merged_data.to_excel(r'C:/Users/GenepoweRx_Madhu/Downloads/condition_specific/data_new_added_rsid.xlsx', index=False)

In [5]:
pip install pandas biopython

Requirement already satisfied: pandas in c:\users\genepowerx_madhu\anaconda3\lib\site-packages (1.5.3)
Collecting biopython
  Downloading biopython-1.81-cp310-cp310-win_amd64.whl (2.7 MB)
     ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
     ---------- ----------------------------- 0.7/2.7 MB 14.4 MB/s eta 0:00:01
     ---------------------- ----------------- 1.5/2.7 MB 19.3 MB/s eta 0:00:01
     ------------------------------------ --- 2.5/2.7 MB 17.8 MB/s eta 0:00:01
     ---------------------------------------  2.7/2.7 MB 17.3 MB/s eta 0:00:01
     ---------------------------------------- 2.7/2.7 MB 12.4 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\genepowerx_madhu\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\genepowerx_madhu\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\genepowerx_madhu\anaconda3\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\genepowerx_madhu\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: biopython
Successfully installed biopython-1.81
Note: you may need to restart the kernel to use updated packages.

In [15]:
import requests

# Define the Ensembl VEP URL
vep_url = "https://rest.ensembl.org/vep/human/hgvs"

# List of rsIDs to query
rs_ids = ["rs2500", "rs100"]

# Loop through each rsID
for rs_id in rs_ids:
    # Construct the input data as HGVS notation
    hgvs_notation = f"rs{rs_id}"

    # Define the parameters for the request
    params = {
        "variant": hgvs_notation,
        "content-type": "application/json",
    }

    # Send a POST request to Ensembl VEP
    response = requests.post(vep_url, params=params)

    if response.status_code == 200:
        # Parse the JSON response
        data = response.json()

        # Extract relevant information from the response
        chrom = data[0]["seq_region_name"]
        pos = data[0]["start"]
        ref = data[0]["allele_string"].split("/")[0]
        alt = data[0]["allele_string"].split("/")[1]

        # Print the information
        print(f"rsID: {rs_id}")
        print(f"CHROM: {chrom}")
        print(f"POS: {pos}")
        print(f"REF: {ref}")
        print(f"ALT: {alt}")
        print("\n")
    else:
        print(f"Error fetching data for rsID {rs_id}")

Error fetching data for rsID rs2500
Error fetching data for rsID rs100